.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.822000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-2.698028px;}
._1{margin-left:-1.318969px;}
.fc2{color:rgb(5,99,193);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs5{font-size:64.000000px;}
.fs3{font-size:80.000000px;}
.fs1{font-size:112.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:12.428566px;}
.y11{bottom:26.472407px;}
.y4{bottom:26.828564px;}
.yc{bottom:38.614731px;}
.y3{bottom:41.228563px;}
.yb{bottom:86.614716px;}
.y27{bottom:97.712685px;}
.y26{bottom:116.912682px;}
.ya{bottom:134.614716px;}
.y25{bottom:136.112679px;}
.y24{bottom:155.312675px;}
.y2{bottom:162.158028px;}
.y23{bottom:174.512672px;}
.y9{bottom:182.614716px;}
.y1{bottom:204.768852px;}
.y22{bottom:212.912682px;}
.y8{bottom:230.614716px;}
.y21{bottom:233.054642px;}
.y1d{bottom:252.151344px;}
.y20{bottom:252.254642px;}
.y1c{bottom:268.951347px;}
.y1f{bottom:270.512684px;}
.y7{bottom:278.614719px;}
.y18{bottom:285.242062px;}
.y10{bottom:285.751350px;}
.y1b{bottom:285.751354px;}
.y1e{bottom:289.712685px;}
.y14{bottom:302.042065px;}
.y1a{bottom:302.042068px;}
.yf{bottom:302.551350px;}
.y17{bottom:302.551353px;}
.ye{bottom:318.842064px;}
.y19{bottom:318.842068px;}
.y13{bottom:319.351349px;}
.y16{bottom:319.351353px;}
.y12{bottom:335.642065px;}
.y15{bottom:335.642069px;}
.yd{bottom:336.151351px;}
.y28{bottom:364.124641px;}
.y6{bottom:364.927675px;}
.h4{height:34.968750px;}
.h7{height:37.296000px;}
.h3{height:39.750000px;}
.h8{height:40.195312px;}
.h6{height:46.375000px;}
.h9{height:53.000000px;}
.h5{height:66.250000px;}
.h2{height:74.592000px;}
.h1{height:198.750000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.xa{left:46.366150px;}
.x6{left:54.000000px;}
.x4{left:55.500000px;}
.x5{left:61.200012px;}
.x1{left:72.000000px;}
.x9{left:79.510101px;}
.x3{left:168.733704px;}
.x2{left:559.799927px;}
.x8{left:690.812561px;}
.x7{left:693.687561px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-3.597371pt;}
._1{margin-left:-1.758625pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs5{font-size:85.333333pt;}
.fs3{font-size:106.666667pt;}
.fs1{font-size:149.333333pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:16.571421pt;}
.y11{bottom:35.296543pt;}
.y4{bottom:35.771418pt;}
.yc{bottom:51.486308pt;}
.y3{bottom:54.971418pt;}
.yb{bottom:115.486287pt;}
.y27{bottom:130.283580pt;}
.y26{bottom:155.883575pt;}
.ya{bottom:179.486287pt;}
.y25{bottom:181.483571pt;}
.y24{bottom:207.083567pt;}
.y2{bottom:216.210704pt;}
.y23{bottom:232.683563pt;}
.y9{bottom:243.486287pt;}
.y1{bottom:273.025136pt;}
.y22{bottom:283.883575pt;}
.y8{bottom:307.486287pt;}
.y21{bottom:310.739522pt;}
.y1d{bottom:336.201792pt;}
.y20{bottom:336.339523pt;}
.y1c{bottom:358.601796pt;}
.y1f{bottom:360.683578pt;}
.y7{bottom:371.486293pt;}
.y18{bottom:380.322749pt;}
.y10{bottom:381.001801pt;}
.y1b{bottom:381.001806pt;}
.y1e{bottom:386.283580pt;}
.y14{bottom:402.722753pt;}
.y1a{bottom:402.722758pt;}
.yf{bottom:403.401800pt;}
.y17{bottom:403.401805pt;}
.ye{bottom:425.122752pt;}
.y19{bottom:425.122757pt;}
.y13{bottom:425.801799pt;}
.y16{bottom:425.801804pt;}
.y12{bottom:447.522753pt;}
.y15{bottom:447.522758pt;}
.yd{bottom:448.201801pt;}
.y28{bottom:485.499522pt;}
.y6{bottom:486.570234pt;}
.h4{height:46.625000pt;}
.h7{height:49.728000pt;}
.h3{height:53.000000pt;}
.h8{height:53.593750pt;}
.h6{height:61.833333pt;}
.h9{height:70.666667pt;}
.h5{height:88.333333pt;}
.h2{height:99.456000pt;}
.h1{height:265.000000pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xa{left:61.821533pt;}
.x6{left:72.000000pt;}
.x4{left:74.000000pt;}
.x5{left:81.600016pt;}
.x1{left:96.000000pt;}
.x9{left:106.013468pt;}
.x3{left:224.978271pt;}
.x2{left:746.399902pt;}
.x8{left:921.083415pt;}
.x7{left:924.916748pt;}
}
